$white: white;
$green: #9ACC1E;
$red: #E22255;
$light-gray: #f6f6f6;
$gray: gray;
$gray-footer-tag: #6B6871;
$footer-background-color: #393542;
$title-color: #0d0015;
$title-font: Quicksand, "Noto Sans Japanese", sans-serif;
$page-tag-hover:#86808A;
$under-color: #FFE2E9;
$lg-size: 1020px;
$md-size: 767px;
@mixin font($font-size,$font-color){
  font-size: $font-size;
  color: $font-color;
  display: inline-block;
}
@mixin flex($justify-content) {
  display: flex;
  justify-content: $justify-content;
}
@mixin tag($font-size,$margin-x,$background-color,$font-color,$background-color-hover,$font-color-hover) {
  @include flex(flex-start);
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  &__item {
    @include font($font-size,$font-color);
    margin-bottom: 6px;
    padding: 4px 10px;
    background-color: $background-color;
    margin-right: $margin-x;
    text-decoration: none;
    border-radius: 2px;
    &:hover {
      background-color: $background-color-hover;
      color: $font-color-hover;
      transition: 0.5s;
    }
    .tag {
      margin-right: 3px;
      font-size: 3px;
    }
  }
}
@mixin container($width) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}
@mixin btn($width,$height,$radius,$background-color) {
  width: $width;
  text-align: center;
  border-radius: $radius;
  background-color: $background-color;
  height: $height;
  line-height: $height;
}

@mixin page-tag($background-color,$font-color,$background-color-hover,$font-color-hover) {
  .page-tag {
    counter-reset:number; /*数字をリセット*/
    list-style-type: none!important; /*数字を一旦消す*/
    padding:0.5em;
    @include flex(center);
    &__item {
      position: relative;
      line-height: 1.5em;
      padding: 0.5em 0.5em 0.5em 20px;
      margin: 0 7px 0 7px;
      &:before {
        /* 以下数字をつける */
        position: absolute;
        counter-increment: number;
        content: counter(number);
        /*以下数字のデザイン変える*/
        display:inline-block;
        background: $background-color;
        color: $font-color;
        font-weight: 100;
        font-size: 13px;
        border-radius: 50%;
        left: 0;
        width: 33px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        /*以下 上下中央寄せのため*/
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        box-shadow: 0 0 3px $gray;
      }
      &:hover::before {
        background-color:$background-color-hover;
        color: $font-color-hover;
        top: -5%;
        transition: 0.5s;
      }
    }
  }
}
@mixin card-frame {
  box-shadow: 0 0 2px lighten($gray,30%);
  border-radius: 3px;
}
@mixin right-card-title {
  border-bottom: solid 2px $title-color;
  @include font(17px,$title-color);
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 20px;
  width: 100%;
}
@mixin article {
  text-decoration: none;
  @include flex(space-between);
  margin-bottom: 25px;
  align-items: flex-start;
  &__img {
    width: 35%;
  }
  &__title {
    width: 60%;
    @include font(14px,$title-color);
    &:hover {
      color: $red;
      transition: 0.3s;
    }
  }
}
@mixin footer-title {
  &__title {
    border-left: solid 3px $green;
    @include font(15px,white);
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 10px;
    @media screen and (max-width: $md-size) {
      border-bottom: solid 2px $green;
      border-left: none;
      width: 100%;
      padding-bottom: 0.8rem;

    }
  }
}
@mixin footer-list-design {
  @include flex(flex-start);
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  margin-top: 27px;
  &__item {
    text-decoration: none;
    @include font(11px,white);
    position: relative;
    padding-left: 17px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    &:last-child {
      @media screen and (max-width: $md-size) {
        border-bottom: none;
      }
    }
    @media screen and(max-width: $md-size) {
      @include font(13px,white);
      font-weight: 600;
      padding-left: 21px;
      line-height: 50px;
      margin-bottom: 0;
      border-bottom: solid 1px white;
    }
    &:hover {
      left: 5px;
      transition: 0.5s;
    }
    &:before {
      content:">";
      position: absolute;
      left: 1px;
      font-weight: 900;
      @media screen and (max-width: $md-size) {
        font-family: "Font Awesome 5 Free";
        content: '\f138';
        left: 1px;
      }
    }
  }
}

@mixin header () {
  @include flex(center);
  flex-wrap: wrap;
  position: relative;

  &__logo {
    @include font (28px,$title-color);
    width: 100%;
    text-align: center;
    text-decoration: none;
    letter-spacing: 6px;
    margin-top: 55px;
    margin-bottom: 70px;
    font-weight: 400;
    @media screen and (max-width: $md-size) {
      font-size: 19px;
      letter-spacing: 1px;
      margin-bottom: 0;
      margin-top: 0;
      line-height: 50px;
      font-weight: 500;
    }
    &--green {
      color: $green;
    }

  }

  &__menu-bar {
    position: absolute;
    display: none !important;
    font-size: 27px;
    right: 5px;
    top: 5px;
    @media screen and (max-width: $md-size) {
      display: inline-block !important;
      right: 10px;
      top: 10px;


    }

  }

  .menu {
    @include flex(center);
    list-style: none;
    margin-bottom: 50px;
    @media screen and (max-width: $md-size) {
      display: none;
    }

    &__item {
      @include font (14px,$title-color);
      padding-left: 17px;
      padding-right: 17px;
      letter-spacing: 2px;
      font-weight: 200;
      text-decoration: none;
      transition: 0.1s;

      &:hover {
        border-bottom: solid 2px $title-color;

      }

    }

  }
}

@mixin contents () {
  @include flex(space-between);
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 70px;
  .content-left {
    width: 68%;
    @media screen and (max-width: $md-size) {
      width: 100%;
      padding-bottom: 70px;
      margin-bottom: 20px;
      border-bottom: solid 1px lighten($gray,30%);
      order: 1;
    }
    @include flex(space-between);
    flex-wrap: wrap;
  }
  .content-right {
    width: 30%;
    @media screen and (max-width: $md-size) {
      width: 100%;
      order: 6;
    }
    .right-card-first {
      @include card-frame;
      padding-bottom: 21px;
      &__title {
        @include font(19px,$white);
        font-weight: 300;
        padding-top: 14px;
        padding-bottom: 14px;
        width: 100%;
        text-align: center;
        background-color: black;
      }
      .right-card-first-contents {
        @include container(90%);
        @include flex(center);
        flex-wrap: wrap;
        &__img {
          width: 100%;
          height: auto;
          margin-top: 20px;
        }
        &__lead {
          @include font(14px,$title-color);
          font-weight: 200;
          margin-top: 15px;
        }
        &__btn {
          @include btn(80%,40px,30px,$red);
          @include font(14px,$white);
          display: inline-block;
          width: 85%;
          box-shadow: 0 0 2px $red;
          border: solid 1px $white;
          text-decoration: none;
          margin-top: 27px;
          display: inline-block;
          &:hover {
            background-color: lighten($red,20%);
            transition: 0.5s;
          }
        }
      }
    }
    .right-card-second {
      @include card-frame;
      padding-top: 40px;
      margin-top: 26px;
      .right-card-second-text {
        @include flex(center);
        flex-direction: column;
        text-align: center;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        &__user-icon {
          width: 110px;
          height: auto;
          display: inine-block;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 18px;
          .user-icon-image {
            border-radius: 50%;
            box-shadow: 0 0 3px lighten($gray,30%);
            width: 100%;
          }
        }
        &__user-name {
          @include font(16px,$title-color);
        }
        &__user-name-sub {
          @include font(12px,lighten($gray,20%));
          margin-bottom: 30px;

        }
        &__user-info {
          @include font(14px,$title-font);
          text-align: left;

        }
        &__btn {
          @include font(10px,$white);
          @include btn(55%,30px,30px,lighten($gray,20%));
          box-shadow: 0 0 3px lighten($gray,20%);
          border: solid 1px $white;
          text-decoration: none;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 28px;
          margin-top: 20px;
          &:hover {
            background-color: lighten($gray,30%);
            transition: 0.5s;
          }
        }
      }

      .user-SNS {

        background-color: $green;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 20px;
        border-radius: 0 0 3px 3px;
        &__title {
          @include font(14px,$white);
          display: block;
          margin-bottom: 10px;
        }
        &__icon {
          @include font(22px,$white);
          @include btn(3px,3px,3px,lighten($green,10%));
          line-height: 35px;
          height: 35px;
          width: 35px;
          display: inline-block;
          margin-left: 2px;
          margin-right: 2px;
          &:hover {
            font-size: 25px;
            height: 37px;
            width: 37px;
            line-height: 37px;
            transition: 0.5s;
          }

        }
      }
    }
    .right-card-third {
      @include card-frame;
      margin-top: 23px;
      padding-top: 37px;
      padding-bottom: 10px;
      .right-card-third-contents {
        @include container(85%);
        &__title {
          @include right-card-title;
          margin-bottom: 27px;
        }
        .right-card-third-link {
          @include article;
        }
      }
    }
    .right-card-fourth {
      @include card-frame;
      padding-top: 32px;
      padding-bottom: 30px;
      margin-top: 20px;
      .right-card-fourth-contents {
        @include container(85%);
        &__title {
          @include right-card-title;
          margin-bottom: 16px;
        }
        &__category-select {
          @include font(14px,#888888);
          border-radius: 3px;
          border-color: $light-gray;
          width: 100%;
          height: 36px;
          background-color: $light-gray;

        }
      }
    }
    .right-card-fifth {
      @include card-frame;
      padding-top: 35px;
      padding-bottom: 30px;
      margin-top: 18px;
      .right-card-fifth-contents {
        @include container(85%);
        &__title {
          @include right-card-title;
          margin-bottom: 16px;
        }
        .article-tag-list {
          @include tag (7px,10px,$light-gray,$title-color,$title-color,$white)
        }
      }
    }
    .right-card-sixth {
      @include card-frame;
      padding-top: 37px;
      padding-bottom: 28px;
      margin-top: 16px;
      .right-card-sixth-contents {
        @include container(85%);
        &__title {
          @include right-card-title;
          margin-bottom: 14px;
        }
        .search-box {
          border: solid 1px darken($light-gray,20%);
          border-radius: 20px;
          height: 33px;
          @include flex(space-between);
          &__text-box {
            border: none;
            margin-left: 15px;
            height: 30px;
          }
          &__btn {
            color: darken($light-gray,20%);
            border: none;
            background-color: $white;
            margin-right: 15px;
            display: inline-block;
          }
        }
      }
    }
    .right-card-seventh {
      @include card-frame;
      display: block;
      margin-top: 18px;
      padding-top: 35px;
      padding-bottom: 30px;
      .right-card-seventh-contents {
        &__title {
          @include right-card-title;
          margin-bottom: 25px;
        }

        @include container(85%);
        .recommend-article {
          @include flex(space-between);
          align-items: start;
          @include article;
        }
      }
    }
  }


}

@mixin content-left-title() {
  &__title {
    @include card-frame();
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (max-width: $md-size) {
      box-shadow: none;
    }
    .category-title-en {
      @include font(14px,lighten($gray,20%));
      letter-spacing: 6px;
      margin-bottom: 20px;
      width: 100%;
    }
    .category-title-ja {
      @include font(20px,black);
      letter-spacing: 1px;
      font-weight: 500;
      width: 100%;

    }
  }
}

@mixin content-left-page-tag() {
  &__page-tag {
    margin-top: 30px;
    width: 100%;
    @include page-tag($white,$gray,$page-tag-hover,$white);
    .page-tag {
      &__item--active {
        &:before {
          background-color: $title-color;
          color: $white;
        }
        &:hover:before {
          top: 50%;
          color: $white;
          background-color: $title-color;
        }

      }
    }
  }
}

@mixin content-left-card() {
  &__card {
    @include card-frame;
    width: 48.5%;
    padding-bottom: 15px;
    margin-bottom: 23px;
    position: relative;
    transition:0.5s;
    .card-left{
      text-decoration: none;
      &__img {
        width: 100%;
        border-radius: 3px 3px 0 0;
      }
      &__icon {
        @include font(10px,$white);
        @include btn(90px,22px,15px,$green);
        font-weight: 500;
        position: absolute;
        top: 3%;
        width: 80px;
        left: 3%;
      }
      .left-text {
        padding-left: 5%;
        padding-right: 5%;

        &__title {
          @include font(20px,$title-color);
          font-weight: 500;
          margin-bottom: 20%;
          @media screen and (max-width:1020px) {
            @include font(12px,$title-color);
            font-weight: 600;
            margin-bottom: 30px;

          }

        }
        &__date {
          @include font(12px,#888888);
          margin-top: 33px;
          position: absolute;
          bottom: 5%;
          right: 15px;
        }

      }
    }
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 0 15px lighten($gray,30%);
    }
  }

}

@mixin article-head() {
  width: 100%;
  border: 1px solid lighten($gray,40%);
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  @media screen and(max-width: $md-size) {
    border: 0;
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    order: 2;
  }
  .category-icon {
    @include category-icon();
  }
  &__title {
    @include font(29px,black);
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 25px;
    @media screen and (max-width: $md-size) {
      font-size: 23px;
    }
  }
  &__date {
    text-align: right;
    @include font(13px,lighten($gray,30%));
    width: 100%;
    padding-bottom: 10px;
    width: 100%;
  }
  &__img {
    width: 100%;
  }
  .SNS-share-btn {
    @include SNS-share-btn();
  }
}

@mixin category-icon() {
  @include font(11px,$white);
  @include btn(100px,24px,15px,$green);
  text-decoration: none;
  font-weight: 500;
}

@mixin SNS-share-btn() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__twitter {
    @include btn(19.5%,25px,2px,#00ACEE);
    @include font(16px,white);
    box-shadow: 0 0 2px $gray;
    transition-duration: 0.3s;
    &:hover {
      transform: translateY(3px);
      background-color: darken(#00ACEE,2%);
    }
  }
  &__facebook {
    @include btn(19.5%,25px,2px,#3B5998);
    @include font(16px,white);
    box-shadow: 0 0 2px $gray;
    transition-duration: 0.3s;
    &:hover {
      transform: translateY(3px);
      background-color: darken,(#3B5998,5%);
    }

  }
  &__bookmark {
    @include btn(19.5%,25px,2px,#5D8AC1);
    @include font(16px,white);
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0 2px $gray;
    transition-duration: 0.3s;
    &:hover {
      transform: translateY(3px);
      background-color: darken,(#5D8AC1,5%);
    }
  }
  &__pocket {
    @include btn(19.5%,25px,2px,#F03E51);
    @include font(16px,white);
    box-shadow: 0 0 2px $gray;
    transition-duration: 0.3s;
    &:hover {
      transform: translateY(3px);
      background-color: darken,(#F03E51,5%);
    }
  }
  &__line {
    @include btn(19.5%,25px,2px,rgb(108,198,85));
    @include font(16px,white);
    box-shadow: 0 0 2px $gray;
    transition-duration: 0.3s;
    &:hover {
      transform: translateY(3px);
      background-color: darken,(rgb(108,198,85),5%);
    }
  }
}

@mixin prime-line() {
  .prime-line {
    background: linear-gradient(transparent 50%, $under-color 50%);
    .prime-bold {
      font-weight: bold;
    }
  }
}

@mixin article-paragraph() {
  &__paragraph {
    letter-spacing: 1px;
    margin-top: 45px;
    line-height: 35px;
    .prime-line {
      background: linear-gradient(transparent 50%, $under-color 50%);
      .prime-bold {
        font-weight: bold;
      }
    }
  }
}

@mixin explain-box() {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  border: 1px solid $green;
  padding-bottom: 15px;
  border-radius: 3px;
  @media screen and (max-width: $md-size) {
    width: 100%;
  }
  &__title {
    background-color: $green;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    @include font(21px,white);
    font-weight: 500;
  }
  .explain-box-list {
    counter-reset: number;
    list-style-type: none;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0;
    width: 90%;
    &__item {
      position: relative;
      padding-bottom: 13px;
      border-bottom: 2px dotted lighten($gray,30%);
      margin-bottom: 13px;
      padding-left: 30px;
      &::before {
        text-align: center;
        @include font(12px,white);
        position: absolute;
        counter-increment: number;
        content: counter(number);
        background-color: $green;
        left: 0px;
        width: 22px;
        height: 22px;
        line-height: 22px;
        border-radius: 50%;
      }
    }
  }
}

@mixin wolf-talkbox() {
  display: flex;
  align-items: center;
  margin-top: 40px;

  &__icon {
    margin-right: 25px;
    width: 12%;
    @media screen and(max-width: $md-size) {
      width: 20%;
    }
    .wolf-icon-image {
      width: 100%;
    }
    .wolf-icon-name {
      @include font(10px,$gray);
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 60px;
    }

  }
  &__balloon {
    border: solid 2px lighten($gray,24%);
    background: lighten($gray,44%);
    border-radius: 8px;
    width: auto;
    position: relative;
    @media screen and (max-width: $md-size) {
      width: 80%;
    }
    &:before {
      content:"";
      position: absolute;
      border-top: 10px solid transparent;
      border-right:10px solid lighten($gray,24%);
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
      top: 20%;
      left: -20px;
      z-index: 1;
    }
    &:after {
      content:"";
      position: absolute;
      border: 8px solid transparent;
      border-right: 7px solid lighten($gray,44%);
      top: 23%;
      left: -15px;
      z-index: 2;

    }
    .wolf-paragraph {
      margin: 20px 20px 20px 20px;
      font-size: 15px;
      font-weight: 200;
      @media screen and (max-width: $md-size) {
        font-weight: 600;
      }

    }
  }


}
@mixin hitsuji-talkbox() {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 35px;
  &__icon {
    width: 11%;
    margin-left: 25px;
    @media screen and (max-width: $md-size) {
      width: 20%;
    }
    .hitsuji-icon-image {
      width: 100%;
    }
    .hitsuji-icon-name {
      @include font(10px,$gray);
      display: block;
      margin-right: auto;
      margin-left: auto;

      width: 60px;

    }

  }
  &__balloon {
    border:2px solid $green;
    border-radius: 8px;
    background-color: lighten($green,40%);
    position: relative;

    &:before {
      content:"";
      position: absolute;
      border: 10px solid transparent;
      border-left:10px solid $green;
      top: 20%;
      right: -20px;
      z-index: 1;
    }
    &:after {
      content:"";
      position: absolute;
      border: 8px solid transparent;
      border-left: 7px solid lighten($green,40%);
      top: 23%;
      right: -15px;
      z-index: 2;

    }
    .hitsuji-paragraph {
      padding: 20px 20px;
      font-size: 15px;
      @media screen and (max-width: $md-size) {
        font-weight: 600;
      }
    }



  }
}
@mixin article-topic() {
  @include font(24px,black);
  border-bottom: 2px solid black;
  margin-top: 80px;
  width: 100%;
  font-weight: 500;
}

@mixin article-category-list() {
  display: flex;
  list-style:none;
  padding-left: 0;
  margin-top: 60px;
  margin-bottom: 50px;
  &__item {
    @include font(10px,black);
    border-radius: 2px;
    font-weight: 400;
    border: solid 1px black;
    padding: 2px 10px;
    text-decoration: none;
    margin-right: 5px;
    .article-category-icon {
      font-size: 10px;
      margin-right: 5px;
      transition: 0.3s;
    }
    &:hover {
      border-color: $gray;
      color: $gray;
    }
  }
}

@mixin download-box() {
  border-radius: 4px;
  width: 100%;
  background-color: $footer-background-color;
  margin-top: 10px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  @media screen and (max-width: $md-size) {
    width: 100%;
    order: 3;
  }
  .download-box-container {
    width: 92%;
    margin: 0 auto;
    &__title {
      @include font(26px,white);
      font-weight: 300;
      margin-top: 40px;
      margin-bottom: 25px;
      width: 100%;
      text-align: center;
    }
    &__img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    &__paragraph {
      @include font(16px,white);
      letter-spacing: 1px;
      margin-top: 55px;
      line-height: 30px;
    }
    &__btn {
      @include btn(70%,70px,8px,$red);
      text-decoration: none;
      font-weight: 300;
      line-height: 70px;
      text-align: center;
      @include font(19px,white);
      display: block;
      margin: 30px auto 0 auto;
      transition: 0.3s;
      &:hover {
        background-color: darken($red,5%);
        color: $light-gray;
        transform: translateY(3px);
      }
    }


  }
}

@mixin recent-post-card() {
  text-decoration: none;
  width: 48%;
  @media screen and (max-width: $md-size) {
    width: 100%;
  }
  @include flex(space-between);
  @include card-frame();
  position: relative;
  transition: 0.3s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 8px lighten($gray,30%);
  }
  &__icon {
    @include font(10px,white);
    background-color: black;
    position: absolute;
    width: 45px;
    text-align: center;
    left: 5px;
  }
  &__img {
    width: 45%;
    border-radius: 3px 0 0 3px;
    @media screen and (max-width: $md-size) {
      width: 30%;
    }
  }
  &__title {
    margin-right: 18px;
    margin-top: 20px;
    margin-left: 15px;
    @include font(13px,black);
    @media screen and (max-width: $md-size) {
      font-weight: 400;
    }
  }
}

@mixin article-list() {
  width: 68%;
  margin-top: 50px;
  @media screen and (max-width: $md-size) {
    width: 100%;
    order: 5;
    margin-bottom: 40px;
  }
  .related-post-list {

    &__btn {
      @include font(20px,white);
      text-shadow:
              1px  1px 1px $gray,
              -1px  1px 1px $gray,
              1px -1px 1px $gray,
              -1px -1px 1px $gray,
              1px  0px 1px $gray,
              0px  1px 1px $gray,
              -1px  0px 1px $gray,
              0px -1px 1px $gray;
    ;
      position: absolute;
      top: 30%;
      font-weight: 700;
      z-index: 2;
      background-color: transparent;
      border: none;
      padding: 2px 2px 2px 2px;
    }
    &__btn--right {
      right: 15px;

    }
    &__btn--left {
      left: 15px;

    }
    &__title {
      @include font(18px,darken($gray,20%));
      letter-spacing: 1px;
      font-weight: 100;
      position: relative;
      margin-left: 50px;
      margin-bottom: 30px;
      .related-post-logo {
        position: absolute;
        left: -50px;
        bottom: 0px;
        background-color: black;
        width: 40px;
        height: 40px;
        @include font(20px,white);
        text-align: center;
        border-radius: 50%;
        line-height: 40px;

      }
    }
    .related-post-list-cards {
      @include flex(space-between);
      width: 100%;
      position: relative;
      .related-post-card {
        color: black;
        text-decoration: none;
        position: relative;
        margin-right: 8px;
        margin-left: 8px;
        box-shadow: 0 0 3px $gray;
        border-radius: 3px;
        transition: 0.3s;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 0 10px lighten($gray,30%);
        }
        &__icon {
          @include category-icon();
          font-size: 10px;
          width: 80px;
          height: 22px;
          line-height: 22px;
          position: absolute;
          top: 10px;
          left: 10px;
          @media screen and (max-width: $md-size) {
            top: 5px;
            right: 5px;
          }
        }
        &__img {
          width: 100%;
          border-radius: 3px 0 0 3px;
          margin-bottom: 15px;
          @media screen and (max-width: $md-size) {
            margin-bottom: 5px;

          }
        }
        &__title {
          display: block;
          margin: 0 auto;
          width: 90%;
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 30px;
          @media screen and (max-width: $md-size) {
            font-size: 12px;
          }
        }
        &__date {
          width: 100%;
          padding-right: 10px;
          text-align: right;
          @include font(9px,$gray);
          position: absolute;
          bottom: 10px;
          right: 5px;

        }

      }

    }
    &__pagenation {
      text-align: center;
      margin-top: 20px;
      .pagenation-item {
        @include font(10px,lighten($gray,15%));
        margin: 0 1px 0 1px;
        text-decoration: none;
      }
      .pagenation-item--active {
        color: $green;
      }
    }
  }
  .recent-post {
    width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
    @include flex(space-between);
    .recent-post-prev {
      @include recent-post-card();
    }
    .recent-post-next {
      @include recent-post-card();
      flex-direction: row-reverse;
      @media screen and (max-width: $md-size) {
        margin-top: 15px;
      }
    }
  }
}


@mixin breadcrumbs-container() {
  height: 50px;
  background-color: #D7D7D9;
  width: 100%;
  @media screen and (max-width: $md-size) {
    order: 4;
  }
  .breadcrumbs-list {
    list-style: none;
    display: flex;
    width: 100%;
    &__item {
      text-decoration: none;
      line-height: 50px;
      margin-right: 18px;
      @include font(12px,black);
      .breadcrumbs-home {
        margin-right: 5px;
      }

    }
  }
}

@mixin breadcrumbs-container-md() {
  @include breadcrumbs-container();
  background-color: $light-gray;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  .breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__item {
      @include font(10px,$gray);
      line-height: 10px;
      padding-top: 5px;
    }
  }
  display: none;
  @media screen and (max-width: $md-size) {
    display: block;
  }
}

@mixin breadcrumbs-container-lg() {
  @include breadcrumbs-container();
  @media screen and (max-width: $md-size) {
    display: none;
  }
}

@mixin footer() {
  padding-top: 40px;
  background-color: $footer-background-color;
  .footer-contents {
    @include container(92%);
    @include flex(space-between);
    padding-bottom: 45px;
    @media screen and (max-width: $md-size) {
      @include flex(center);
      flex-wrap: wrap;
    }
    .footer-first {
      width: 25.5%;
      @media screen and (max-width: $md-size) {
        width: 100%;
        margin-bottom: 35px;
      }
      .footer-first-contents {
        .footer-first-main {
          @include flex(center);
          flex-wrap: wrap;
          margin-top: 18px;
          &__logo {
            width: 37%;
            margin-bottom: 37px;
            @media screen and (max-width: $md-size) {
              width: 20%;
            }
            .footer-logo-img {
              width: 100%;
            }
          }
          &__lead {
            @include font(14px,$white);
            line-height: 25px;
            margin-bottom: 15px;
          }
          &__btn {
            @include font(14px,$white);
            @include btn(80%,40px,30px,$red);
            font-weight: 100;
            text-decoration: none;
            margin-top: 35px;
            margin-bottom: 85px;
            .footer-btn-icon {
              margin-right: 7px;

            }
          }
        }
        .footer-article-tag {
          @include footer-title;
          .footer-article-tag-list {
            margin-top: 20px;
            &__item {
              @media screen and (max-width: $md-size) {
                background-color: darken($footer-background-color, 3%) !important;
              }
            }
            @include tag(7px,3px,$gray-footer-tag,$white,$title-color,$white);
          }
        }
      }

    }
    .footer-lists {
      @include flex(space-between);
      width: 40%;
      @media screen and (max-width: $lg-size) {
        @include flex(flex-start);
        flex-direction: column;
      }
      @media screen and (max-width: $md-size) {
        width: 100%;
      }
      .footer-second {
        width: 50%;
        padding-left: 55px;
        @media screen and (max-width: $lg-size) {
          margin-bottom: 35px;
          width: 100%;
        }
        @media screen and (max-width: $md-size) {
          width: 100%;
          padding-left: 0;
          margin-bottom: 35px;
        }
        .footer-second-contents {
          @include footer-title;
          @media screen and (max-width: $md-size) {
            width: 100%;
          }
          .category-list {
            @include footer-list-design;
          }
        }
      }
      .footer-third {
        width: 50%;
        padding-left: 55px;
        @media screen and (max-width: $lg-size) {
          width: 100%;
        }
        @media screen and (max-width: $md-size) {
          width: 100%;
          padding-left: 0;
          margin-bottom: 35px;
        }
        .footer-third-contents {
          @include footer-title;
          .archives-list {
            @include footer-list-design;
          }

        }
      }
    }
    .footer-fourth {
      width: 34.5%;
      @media screen and (max-width: $md-size) {
        width: 100%;
      }
      .footer-fourth-contents {
        @include footer-title;
        .popular-post-list {
          margin-top: 27px;
          .popular-post {
            @include article;
            &__icon {
              position: absolute;
              width: 20px;
              height: 20px;
              @include font(12px,$white);
              line-height: 20px;
              text-align: center;
              display: inline-block;
              background-color: $green;
              z-index: 1;
              text-decoration: none;
            }
            &__img {
              position: relative;
            }
            &__title {
              color: $white;
              @media screen and (max-width: $md-size) {
                font-weight: 600;
              }
              &:hover {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
  .copy-right {
    @include font(11px,$white);
    border-top: solid 1px $white;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 45px;
  }
}

