@import "variables";

.slick-slider {
  flex-wrap: wrap;
  display: flex;
  .slick-track{
    padding-top: 10px;
    padding-bottom: 2px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 0 0 0;
  }
  .slick-dots {

    margin-top: 30px;
    padding: 0 0 0 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    .slick-active {
      button {
        background-color: $green;
      }
    }
    li {
      display: inline-block;
      position: relative;
      button {
        background-color: #a6a6a6;
        font-size: 0px;
        padding: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-right: 5px;
        margin-left: 5px;
        border: none;
      }

    }
  }

}